@import './variable.styl'

// 头像  begin
portrait(porSize = 180px)
    width porSize
    height porSize
    border-radius 50%
    border 1px solid rgba(118, 185, 255,0.5)
    box-shadow 0px 0px 8px rgba(118, 185, 255,0.5)
    overflow hidden
// 头像  end

// 蒙层 begin
mask()
    width 100%
    height 100%
    position fixed
    left 50%
    top 50%
    background-color rgba(51, 51, 51, 0.5)
    z-index 9999
    transform translateX(-50%) translateY(-50%)
// 蒙层 end

// radio重置 begin
radio()
    opacity: 0;
    outline: none;
    z-index: -1;
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // margin: 0;
// radio重置 end

//login-page顶部间距 和flex布局 begin
pageFlexCenter(flexDirection = column, alignItems = center,justifyContent = start)
    display flex
    flex-direction flexDirection
    align-items alignItems
    justify-content justifyContent
    
pageTopGap(paddingTop = 88px)
    width 100%
    padding-top paddingTop
    position relative
//login-page顶部间距 end

// 椭圆表单 beign
radiusInput()
  .radius-input
    margin-bottom $input-bottomGap
    &:last-child
      margin-bottom ($input-bottomGap*3)
// 椭圆表单 end

// 提交按钮 begin
pushBtn()
    .push-btn
        border 0
        padding 0
        font-size 38px
        color #ffffff
        text-align center
        width $input-widthColumn
        height 84px
        line-height 84px
        border-radius 42px
        background $input-primaryLightBLue
        display block
        box-sizing border-box
        margin 0 auto 56px
// 提交按钮 end

// input提示语 begin
inputLabel()
    .input-label
        margin 0
        position absolute
        font-size 12px
        color red
        height ($input-bottomGap * 1.5)
        line-height ($input-bottomGap * 1.5)
        box-sizing border-box
        padding-left 40px
// input提示语 end
