// 变量

/*
间距
**/
// 椭圆文本框间距
$input-bottomGap = 24px

/*
色调
**/
// 主按钮色调 
//深蓝 - 天蓝（title等文字颜色） - 浅蓝
$input-primaryDeepSkyBlue = #1987fc
$input-primarySkyBlue = #2f94ff
$input-primaryLightBLue = #7abafe


/*
尺寸
**/
// 通用一行宽度
$input-widthColumn = 540px
